@font-face {
    font-family: "Oxygen";
    src: url("fonts/Oxygen-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #88ecaf;
    font-family: "Oxygen", sans-serif;
}

#contents {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.header, .wrapper, .footer {
    background-color: #FFFFFF;
}

#header-list {
    list-style: none;
}

.header {
    padding: 0 30px;
    display: flex;
    height: 60px;
    border-bottom: dashed 1px #CCCCCC;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.header nav {
    margin-left: auto;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 20px;
}

.wrapper {
    width: 96%;
    border: solid 2px #000000;
    border-radius: 20px;
    margin: 2% 2%;
}

.wrapper h2 {
    text-align: center;
    width: 80%;
    margin: 1% 10%;
    margin-bottom: 2%;
    line-height: 1;
    font-weight: normal;
    font-size: 2.4rem;
}

.wrapper h2 span {
    border-bottom: solid 1px #CCCCCC;
}

.content {
    margin: 1% 5%;
}

.content a {
    text-decoration: none;
    color: #000000;
}

#index .content a:hover {
    color: #CCCCCC;
}

#index .content ol li {
    margin: auto;
    padding-left: 1%;
    margin-left: 1%;
    font-size: x-large;
}

#about-pickles .content {
    width: 80%;
    margin: 2% 10% 2% 10%;
}

#about-pickles .content .img {
    width: 90%;
    margin: 1% 5% 1% 5%;
    margin-bottom: 2%;
}

#about-pickles .content .img img {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

#about-pickles .content .description p {
    text-align: center;
    font-size: large;
    margin-top: 1%;
}

#release-note .content {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2%;
}

#release-note .content .scroll-box {
    width: 100%;
    height: 100%;
    padding-bottom: 1%;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#release-note .content dl {
    display: flex;
    flex-wrap: wrap;
}

#release-note .content dt {
    width: 23%;
    margin-left: 2%;
    margin-top: 1%;
    border-bottom: 1px solid #CCCCCC;
}

#release-note .content dd {
    width: 73%;
    margin-top: 1%;
    margin-right: 2%;
    border-bottom: 1px solid #CCCCCC;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper .left {
    margin: 1% 1% 1% 2%;
    width: 47%;
}

.flex-wrapper .right {
    margin: 1% 2% 1% 1%;
    width: 47%;
}

.flex-wrapper .img {
    height: 100%;
}

.flex-wrapper .img img {
    width: 100%;
    height: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

#how-to-use .description h3 {
    text-align: center;
    width: 90%;
    margin: 1% 5%;
    font-weight: normal;
    font-size: 1.6rem;
    margin-bottom: 4%;
}

#how-to-use .description span {
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
}

#how-to-use .description ol li {
    margin: 2% 0% 2% 8%;
    padding-left: 1%;
    margin-left: 8%;
    font-size: 1.2rem;
}

.btn {
    width: 20%;
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    font-size: large;
    border: 1px solid #000000;
    padding: 1% 0%;
    margin: 2% 40% 2% 40%;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #000000;
}
