* {
    margin: 0;
    padding: 0;
}

#header-list {
    list-style: none;
}

.header {
    padding: 0 30px;
    display: flex;
    height: 60px;
    align-items: center;
}

.header nav {
    margin-left: auto;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 20px;
}

.wrapper {
    width: 96%;
    border: solid 2px #000000;
    border-radius: 10px;
    margin: 2% 2%;
}

.wrapper h2 {
    text-align: center;
    width: 40%;
    border-bottom: solid 2px #CCCCCC;
    margin: 1% 30%;
    line-height: 1;
}

.content {
    margin: 1% 5%;
}
